.parent:hover  .child{
    display: flex;
    animation: men 1s linear 0s 1  normal forwards;
}

@keyframes men {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
