<app-header></app-header>
<div class="text-gray-600 space-y-10">
    <div class="bg-[url('assets/banner.png')] md:bg-[url('assets/banner2.png')] bg-repeat-round w-screen h-screen flex items-center justify-center md:justify-start" style="background-color: #141C5B;">
        <div class="flex flex-col items-start space-y-5 pl-10 md:w-96">
            <div class="text-white font-black text-2xl">AGYL vous propose le meilleur des talents, pour </div>
            <div class="" style="color: #DADADA;">refaire votre site internet/ développer votre application mobile ou web/ créé votre MVP engageant pour vos premiers utilisateurs/ créer vos boutiques e-commerce/ créer vos visuels ou interfaces design d'App ou de site</div>
            <div class=""><button class="text-white text-opacity-60 p-1 rounded-lg h-10 text-lg" style="background-color: #3F50E7;">Faire appel à nous</button></div>
        </div>
    </div>
    <div class="flex flex-col items-center space-y-5">
        <div class="text-primary text-2xl font-black">Ils nous ont fait confiance</div>
        <div class="flex flex-col items-center space-y-5 md:flex-row md:space-y-0 md:space-x-36">
            <div class=""><img src="/assets/bigoodee.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/trankilo.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/warisse.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/dolipay.svg" alt="" class="w-20"></div>
        </div>
    </div>
    <div class="bg-primary flex flex-col items-center space-y-10 py-5">
        <div class="font-bold text-xl text-white text-center">Nos équipes sont les meilleur pour réaliser vos projet</div>
        <div class="flex flex-col items-center space-y-10 md:flex-row md:space-y-0 md:space-x-8">
            <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 w-52 h-56 md:w-40 md:h-44" style="border-color: #8E88C1;">
                <div class=""><img src="/assets/coding-2.svg" alt="" class="w-24 md:w-16"></div>
                <div class="font-medium text-primary text-lg md:text-base text-center">Créer ou refaire votre site</div>
            </div>
            <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 w-52 h-56 md:w-40 md:h-44" style="border-color: #8E88C1;">
                <div class=""><img src="/assets/smartphone.svg" alt="" class="w-24 md:w-16"></div>
                <div class="font-medium text-primary text-lg md:text-base text-center">Developpement d’application</div>
            </div>
            <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 w-52 h-56 md:w-40 md:h-44" style="border-color: #8E88C1;">
                <div class=""><img src="/assets/help.svg" alt="" class="w-24 md:w-16"></div>
                <div class="font-medium text-primary text-lg md:text-base text-center">Renfort en developeur</div>
            </div>
            <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 w-52 h-56 md:w-40 md:h-44" style="border-color: #8E88C1;">
                <div class=""><img src="/assets/web-design.svg" alt="" class="w-24 md:w-16"></div>
                <div class="font-medium text-primary text-lg md:text-base text-center">UI UX design</div>
            </div>
            <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 w-52 h-56 md:w-40 md:h-44" style="border-color: #8E88C1;">
                <div class=""><img src="/assets/shopping.svg" alt="" class="w-24 md:w-16"></div>
                <div class="font-medium text-primary text-lg md:text-base text-center">Creer votre site e-commerce</div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center space-y-20">
        <div class="font-bold text-xl text-primary text-center">Nos équipes sont les meilleur pour réaliser vos projet</div>
        <div class="flex flex-col items-center space-y-10 md:flex-row md:space-y-0 md:space-x-16">
            <div class="bg-primary h-72 w-56 rounded-xl relative">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/competitif.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Compétitif</div>
                </div>
                <div class="text-center text-white font-light">En optant pour nos équipes, vous faites le choix de réduire vos coûts sans en sacrifier la qualité !</div>
                <div class="absolute hidden md:block -left-24 -bottom-10 -z-10"><img src="assets/queue.svg" alt="" class="md:w-44"></div>
                <div class="md:hidden absolute -top-10 -right-16 -z-10"><img src="assets/tete.svg" alt="" class="w-40"></div>
            </div>
            <div class="bg-primary h-72 w-56 rounded-xl">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/reactif.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Réactif</div>
                </div>
                <div class="text-center text-white font-light">Nos process de travail nous permettent de démarrer vos projets en un clin d'œil et de vous livrer dans les délais impartis.</div>
            </div>
            <div class="bg-primary h-72 w-56 rounded-xl relative">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/competent.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Compétent</div>
                </div>
                <div class="text-center text-white font-extralight">Nos équipes sont composés d'ingénieurs et de designers de talents, qualifiés et expérimentés, qui vont vous permettre de concrétiser la réussite de vos projets.</div>
                <div class="md:hidden absolute -left-20"><img src="assets/queue.svg" alt="" class="w-40"></div>
                <div class="absolute hidden md:block -top-16 -right-20 -z-10"><img src="assets/tete.svg" alt="" class="md:w-44"></div>
            </div>
        </div>
        <div class="">
            <button class="bg-primary font-normal text-white text-lg w-56 h-12 rounded-xl">Faire appel à nous</button>
        </div>
    </div>
    <div class="bg-primary flex flex-col items-center space-y-10 py-5 px-2">
        <div class="font-bold text-xl text-white text-center">Nos compétences dans les technologies dont vous avez besoin</div>
        <div class="grid grid-cols-2 place-items-start">
            <div class="text-secondary" *ngFor="let item of options">{{item}}</div>
        </div>
    </div>
    <div class="py-10 px-3 md:px-28" style="background-color: #3E3A60;">
        <div class="bg-white rounded-xl flex flex-col items-center space-y-10 py-5 px-2 md:flex-row md:items-start md:w-full md:justify-between md:space-y-0 md:px-5">
            <div class="space-y-10 md:w-96 flex flex-col md:items-start">
                <div class="font-bold text-xl text-primary text-center md:text-2xl">Vous avez des questions ?</div>
                <div class="text-second">Nous serions ravis de vous accompagner sur votre projet. N'hésitez pas à remplir ce formulaire, en nous indiquant quels sont vos besoins. Ensuite, nous pourrons revenir vers vous dans les plus brefs délais.</div>
            </div>
            <div class="md:w-72">
                <form action="" class="space-y-5 w-full">
                    <input type="text" name="" id="" placeholder="Votre prénom *" class="bg-primary text-second pl-5 w-full h-14 rounded-xl md:w-72 focus:text-white">
                    <input type="email" name="" id="" placeholder="Votre adresse mail *" class="bg-primary text-second pl-5 w-full h-14 rounded-xl md:w-72 focus:text-white">
                    <textarea name="" id="" placeholder="Votre message *" cols="30" rows="4" class="bg-primary text-second pl-5 pt-3 w-full rounded-xl md:w-72 focus:text-white"></textarea>
                    <div class="flex justify-center">
                        <button type="submit" class="bg-secondary text-primary w-56 h-12 rounded-xl font-medium text-lg">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>