<app-header></app-header>
<div class="text-gray-600 space-y-10">
    <!-- <div class="bg-[url('assets/banner.png')] md:bg-[url('assets/banner2.png')] bg-repeat-round flex items-center justify-center md:justify-start banner" style="background-color: #141C5B;">
        <ngx-slick-carousel class="w-full border-2 border-red-600" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of titles" class="slide">
                <div class="flex flex-col items-start space-y-5 pl-10 md:w-96">
                    <div class="text-white font-black text-2xl">AGYL vous propose le meilleur des talents, pour </div>
                    <div class="text-2xl" style="color: #DADADA;">{{item}}</div>
                    <div class=""><button class="text-white text-opacity-60 p-1 rounded-lg h-12 text-lg w-56" style="background-color: #3F50E7;">Faire appel à nous</button></div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div> -->
    <div class="relative">
        <img src="assets/banner2.png" alt="" class="hidden md:block">
        <img src="assets/banner.png" alt="" class="md:hidden">
        <div class="absolute top-48 w-full">
            <!-- <ngx-slick-carousel class="" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig">
                <div ngxSlickItem *ngFor="let item of titles" class="">
                    <div class="flex flex-col items-start space-y-5 pl-10 md:w-96">
                        <div class="text-white font-black text-2xl">AGYL vous propose le meilleur des talents, pour </div>
                        <div class="text-2xl" style="color: #DADADA;">{{item}}</div>
                        <div class=""><button class="text-white text-opacity-60 p-1 rounded-lg h-12 text-lg w-56" style="background-color: #3F50E7;">Faire appel à nous</button></div>
                    </div>
                </div>
            </ngx-slick-carousel> -->
            <swiper #swiper [config]="config" class="">
                <ng-template swiperSlide *ngFor="let item of titles">
                    <div class="flex flex-col items-start space-y-5 pl-10 md:w-96">
                        <div class="text-white font-black text-2xl">AGYL vous propose le meilleur des talents, pour </div>
                        <div class="text-2xl" style="color: #DADADA;">{{item}}</div>
                        <div class=""><button class="text-white text-opacity-60 p-1 rounded-lg h-12 text-lg w-56" style="background-color: #3F50E7;">Faire appel à nous</button></div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
    <div class="flex flex-col items-center space-y-5">
        <div class="text-primary text-2xl font-black">Ils nous ont fait confiance</div>
        <div class="flex flex-col items-center space-y-5 md:flex-row md:space-y-0 md:space-x-36">
            <div class=""><img src="/assets/bigoodee.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/trankilo.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/warisse.svg" alt="" class="w-36"></div>
            <div class=""><img src="/assets/dolipay.svg" alt="" class="w-20"></div>
        </div>
    </div>
    <div class="bg-primary flex flex-col items-center space-y-10 py-5">
        <div class="font-bold text-xl text-white text-center">Nos équipes sont les meilleur pour réaliser vos projet</div>
        <div class="flex flex-col items-center space-y-10 md:flex-row md:space-y-0 md:space-x-8">
            <div class="w-52 md:w-40 parent rounded-lg" style="background-color: #7271B3;">
                <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 h-56 md:h-44 cursor-pointer" style="border-color: #8E88C1;" routerLink="/créer-site-internet">
                    <div class=""><img src="/assets/coding-2.svg" alt="" class="w-24 md:w-16"></div>
                    <div class="font-medium text-primary text-lg md:text-base text-center">Créer ou refaire votre site</div>
                </div>
                <div class="flex-col items-center justify-center space-y-2 p-2 hidden child">
                    <div class="text-white opacity-60">Nous vous accompagnons dans la refonte ou la création de votre site internet. Nous intégrons une démarche qualité dès la conception et au long de l’intégration technique vos projets.</div>
                    <div class=""><button class="bg-white text-black rounded-lg w-32">Parlons-en !</button></div>
                </div>
            </div>
            <div class="parent w-52 md:w-40 rounded-lg" style="background-color: #7271B3;">
                <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 h-56 md:h-44" style="border-color: #8E88C1;">
                    <div class=""><img src="/assets/smartphone.svg" alt="" class="w-24 md:w-16"></div>
                    <div class="font-medium text-primary text-lg md:text-base text-center">Developpement d’application</div>
                </div>
                <div class="flex-col items-center justify-center space-y-2 p-2 hidden child">
                    <div class="text-white opacity-60">Avec des tarifs 4 à 5 fois inférieurs a ceux d’une agence, nos équipes développent vos applications mobiles et web.</div>
                    <div class=""><button class="bg-white text-black rounded-lg w-32">Parlons-en !</button></div>
                </div>
            </div>
            <div class="parent w-52 md:w-40 rounded-lg" style="background-color: #7271B3;">
                <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 h-56 md:h-44" style="border-color: #8E88C1;">
                    <div class=""><img src="/assets/help.svg" alt="" class="w-24 md:w-16"></div>
                    <div class="font-medium text-primary text-lg md:text-base text-center">Renfort en developeur</div>
                </div>
                <div class="flex-col items-center justify-center space-y-2 p-2 hidden child">
                    <div class="text-white opacity-60">Recruter des développeurs de talents à des tarifs compétitif pour rejoindre à distance ou en interne.</div>
                    <div class=""><button class="bg-white text-black rounded-lg w-32">Parlons-en !</button></div>
                </div>
            </div>
            <div class="parent w-52 md:w-40 rounded-lg" style="background-color: #7271B3;">
                <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 h-56 md:h-44" style="border-color: #8E88C1;">
                    <div class=""><img src="/assets/web-design.svg" alt="" class="w-24 md:w-16"></div>
                    <div class="font-medium text-primary text-lg md:text-base text-center">UI UX design</div>
                </div>
                <div class="flex-col items-center justify-center space-y-2 p-2 hidden child">
                    <div class="text-white opacity-60">AGYL vous propose un service de design UI/UX adapté à vos besoins et en phase avec vos sprints de développement.</div>
                    <div class=""><button class="bg-white text-black rounded-lg w-32">Parlons-en !</button></div>
                </div>
            </div>
            <div class="parent w-52 md:w-40 rounded-lg" style="background-color: #7271B3;">
                <div class="bg-white rounded-lg flex flex-col items-center space-y-5 px-2 justify-center border-2 h-56 md:h-44" style="border-color: #8E88C1;">
                    <div class=""><img src="/assets/shopping.svg" alt="" class="w-24 md:w-16"></div>
                    <div class="font-medium text-primary text-lg md:text-base text-center">Creer votre site e-commerce</div>
                </div>
                <div class="flex-col items-center justify-center space-y-2 p-2 hidden child">
                    <div class="text-white opacity-60">Nous concevons et développons vos boutiques E-commerce de qualité, fonctionnel et efficace.</div>
                    <div class=""><button class="bg-white text-black rounded-lg w-32">Parlons-en !</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center space-y-20">
        <div class="font-bold text-xl text-primary text-center">Nos équipes sont les meilleur pour réaliser vos projet</div>
        <div class="flex flex-col items-center space-y-10 md:flex-row md:space-y-0 md:space-x-16">
            <div class="bg-primary h-72 w-56 rounded-xl relative">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/competitif.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Compétitif</div>
                </div>
                <div class="text-center text-white font-light">En optant pour nos équipes, vous faites le choix de réduire vos coûts sans en sacrifier la qualité !</div>
                <div class="absolute hidden md:block -left-24 -bottom-10 -z-10"><img src="assets/queue.svg" alt="" class="md:w-44"></div>
                <div class="md:hidden absolute -top-10 -right-16 -z-10"><img src="assets/tete.svg" alt="" class="w-40"></div>
            </div>
            <div class="bg-primary h-72 w-56 rounded-xl">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/reactif.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Réactif</div>
                </div>
                <div class="text-center text-white font-light">Nos process de travail nous permettent de démarrer vos projets en un clin d'œil et de vous livrer dans les délais impartis.</div>
            </div>
            <div class="bg-primary h-72 w-56 rounded-xl relative">
                <div class="flex flex-col items-center justify-center space-y-2 h-1/2 bg-repeat-round" style="background-image: url(/assets/bg-gradient.png);">
                    <div class=""><img src="/assets/competent.svg" alt="" class=""></div>
                    <div class="text-white text-lg font-medium">Compétent</div>
                </div>
                <div class="text-center text-white font-extralight">Nos équipes sont composés d'ingénieurs et de designers de talents, qualifiés et expérimentés, qui vont vous permettre de concrétiser la réussite de vos projets.</div>
                <div class="md:hidden absolute -left-20"><img src="assets/queue.svg" alt="" class="w-40"></div>
                <div class="absolute hidden md:block -top-16 -right-20 -z-10"><img src="assets/tete.svg" alt="" class="md:w-44"></div>
            </div>
        </div>
        <div class="">
            <button class="bg-primary font-normal text-white text-lg w-56 h-12 rounded-xl">Faire appel à nous</button>
        </div>
    </div>
    <div class="bg-primary flex flex-col items-center space-y-10 py-5 px-2">
        <div class="font-bold text-xl text-white text-center">Nos compétences dans les technologies dont vous avez besoin</div>
        <div class="grid grid-cols-2 place-items-start">
            <div class="text-secondary" *ngFor="let item of options">{{item}}</div>
        </div>
    </div>
    <div class="py-10 px-3 md:px-28" style="background-color: #3E3A60;">
        <div class="bg-white rounded-xl flex flex-col items-center space-y-10 py-5 px-2 md:flex-row md:items-start md:w-full md:justify-between md:space-y-0 md:px-5">
            <div class="space-y-10 md:w-96 flex flex-col md:items-start">
                <div class="font-bold text-xl text-primary text-center md:text-2xl">Vous avez des questions ?</div>
                <div class="text-second">Nous serions ravis de vous accompagner sur votre projet. N'hésitez pas à remplir ce formulaire, en nous indiquant quels sont vos besoins. Ensuite, nous pourrons revenir vers vous dans les plus brefs délais.</div>
            </div>
            <div class="md:w-72">
                <form action="" class="space-y-5 w-full">
                    <input type="text" name="" id="" placeholder="Votre prénom *" class="bg-primary text-second pl-5 w-full h-14 rounded-xl md:w-72 focus:text-white">
                    <input type="email" name="" id="" placeholder="Votre adresse mail *" class="bg-primary text-second pl-5 w-full h-14 rounded-xl md:w-72 focus:text-white">
                    <textarea name="" id="" placeholder="Votre message *" cols="30" rows="4" class="bg-primary text-second pl-5 pt-3 w-full rounded-xl md:w-72 focus:text-white"></textarea>
                    <div class="flex justify-center">
                        <button type="submit" class="bg-secondary text-primary w-56 h-12 rounded-xl font-medium text-lg">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>