<div class="bg-primary flex flex-col items-center space-y-10 text-white pt-10">
    <div class="flex flex-col items-center space-y-5 md:flex-row md:items-start md:justify-between md:w-full md:px-10">
        <div class="flex items-center space-x-5">
            <div class=""><img src="assets/logo.svg" alt="" class=""></div>
            <div class=""><img src="assets/agyl.svg" alt="" class=""></div>
        </div>
        <div class="flex flex-col space-y-5 items-center">
            <div class="font-semibold text-xl">Notre office</div>
            <div class="flex flex-col items-center space-y-1 opacity-70">
                <div class="cursor-pointer">Sites internet</div>
                <div class="cursor-pointer">Applications</div>
                <div class="cursor-pointer">Renfort Tech</div>
                <div class="cursor-pointer">UI/UX Design</div>
                <div class="cursor-pointer">Boutique E-commerce</div>
            </div>
        </div>
        <div class="flex flex-col space-y-5 items-center">
            <div class="font-semibold text-xl">AGYL</div>
            <div class="flex flex-col items-center space-y-1 opacity-70">
                <div class="cursor-pointer">À propos</div>
                <div class="cursor-pointer">Nous rejoindre</div>
                <div class="cursor-pointer">Nous contacter</div>
            </div>
        </div>
        <div class="flex flex-col space-y-5 items-center">
            <div class="font-semibold text-xl">Suivez-nous sur :</div>
            <div class="flex space-x-5">
                <div class="cursor-pointer"><img src="assets/VK.svg" alt="" class=""></div>
                <div class="cursor-pointer"><img src="assets/mail.svg" alt="" class=""></div>
                <div class="cursor-pointer"><img src="assets/WhatsApp.svg" alt="" class=""></div>
                <div class="cursor-pointer"><img src="assets/Twitter.svg" alt="" class=""></div>
                <div class="cursor-pointer"><img src="assets/Instagram.svg" alt="" class=""></div>
            </div>
        </div>
    </div>
    <div class="opacity-70">© 2022 AGYL, Tous droits réservés</div>
</div>
