/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/scss';

html{
    margin: auto;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
}
.bg-primary{
    background-color: #141C5B;
}

.bg-secondary{
    background-color: #8E88C1;
}

.text-primary{
    color: #141C5B;
}

.text-secondary{
    color: #8E88C1;
}